:root{
    --columnas:0;
}
#listado {
    display: grid;
    grid-template-columns: repeat(var(--columnas),1fr);
}
.linea {
    display: flex;
    align-items: center;
    border:2px solid rgb(53, 53, 53);
    background: rgb(218, 216, 216);
}
.titulos {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    background: rgb(171, 221, 200);
    font-weight: bold;
}
.totales {
    display: flex;
    justify-content: flex-end;
}